@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800;1000&display=swap');

.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/loginPic3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.otp-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 3px solid #230404;
  border-radius: 5px;
}

.verify-btn, .resend-btn {
  background: #00466a;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.resend-btn.disabled {
  background: #ccc;
  cursor: not-allowed;
}
  